In [1]:
#from milliontrees import get_dataset

# Download a mini version of TreeBoxes (~few MB instead of ~several GB)
#dataBoxes = get_dataset('TreeBoxes', download=True, mini=True)

# This works the same as the full dataset but much faster to download
#trainBoxes = dataBoxes.get_subset("train")
#print(f"Mini dataset size: {len(trainBoxes)} images")


#from milliontrees.datasets.TreePoints import TreePointsDataset
#dataBoxes = TreePointsDataset(download=True, root_dir=<directory to save data>, split_scheme="random") \

#dataPoints = get_dataset('TreePoints', download=True, mini=True)

# This works the same as the full dataset but much faster to download
#trainPoints = dataPoints.get_subset("train")
#print(f"Mini dataset size: {len(trainPoints)} images")

In [2]:
from milliontrees.common.data_loaders import get_train_loader
from milliontrees.datasets.TreeBoxes import TreeBoxesDataset
from milliontrees.datasets.TreePoints import TreePointsDataset
from milliontrees.datasets.TreePolygons import TreePolygonsDataset



## boxes

dataBoxes = TreeBoxesDataset(download=True,mini=True)
trainBoxes = dataBoxes.get_subset("train")
train_loaderBoxes = get_train_loader("standard", trainBoxes, batch_size=2)

## points

dataPoints = TreePointsDataset(download=True,mini=True)
trainPoints = dataPoints.get_subset("train")
train_loaderPoints = get_train_loader("standard", trainPoints, batch_size=2)

## polygons

dataPolygons = TreePolygonsDataset(download=True,mini=True)
trainPolygons = dataPolygons.get_subset("train")
train_loaderPolygons = get_train_loader("standard", trainPolygons, batch_size=2)

Downloading dataset to data/TreeBoxes_v0.10...
Downloading https://data.rc.ufl.edu/pub/ewhite/MillionTrees/MiniTreeBoxes_v0.10.zip to data/TreeBoxes_v0.10/archive.zip

  0%|          | 59465728/42922274383 [00:07<1:24:56, 8410473.69Byte/s]

Extracting data/TreeBoxes_v0.10/archive.zip to data/TreeBoxes_v0.10

It took 0.12 minutes to download and uncompress the dataset.

Warning: You are loading the entire dataset. Consider using dataset.get_subset('train') for a portion of the dataset if intended.
Downloading dataset to data/TreePoints_v0.10...
Downloading https://data.rc.ufl.edu/pub/ewhite/MillionTrees/MiniTreePoints_v0.10.zip to data/TreePoints_v0.10/archive.zip

  0%|          | 11616256/164722449837 [00:04<18:36:24, 2458930.22Byte/s]

Extracting data/TreePoints_v0.10/archive.zip to data/TreePoints_v0.10

It took 0.08 minutes to download and uncompress the dataset.

Warning: You are loading the entire dataset. Consider using dataset.get_subset('train') for a portion of the dataset if intended.
Downloading dataset to data/TreePolygons_v0.10...
Downloading https://data.rc.ufl.edu/pub/ewhite/MillionTrees/MiniTreePolygons_v0.10.zip to data/TreePolygons_v0.10/archive.zip

  0%|          | 128999424/106085316699 [00:20<4:44:07, 6215429.04Byte/s]

Extracting data/TreePolygons_v0.10/archive.zip to data/TreePolygons_v0.10

It took 0.37 minutes to download and uncompress the dataset.

Warning: You are loading the entire dataset. Consider using dataset.get_subset('train') for a portion of the dataset if intended.

In [9]:
metadata, image, targets = trainBoxes[0]
print(f"Metadata length: {len(metadata)}")
print(f"Image shape: {image.shape}, Image type: {type(image)}")
print(f"Targets keys: {targets.keys()}, Label type: {type(targets)}")

print("metadata",metadata)
print("image",image)
print("targets",targets)

Metadata length: 2
Image shape: torch.Size([3, 448, 448]), Image type: <class 'torch.Tensor'>
Targets keys: dict_keys(['y', 'labels']), Label type: <class 'dict'>
metadata tensor([3, 6])
image tensor([[[0.5278, 0.5285, 0.5265,  ..., 0.1264, 0.1250, 0.0969],
         [0.5276, 0.5258, 0.5252,  ..., 0.1128, 0.1136, 0.1034],
         [0.5230, 0.5182, 0.5257,  ..., 0.1173, 0.0983, 0.1020],
         ...,
         [0.2496, 0.2209, 0.1671,  ..., 0.4148, 0.2924, 0.2034],
         [0.1940, 0.1866, 0.1796,  ..., 0.3834, 0.1975, 0.3504],
         [0.2066, 0.1648, 0.1223,  ..., 0.2517, 0.4234, 0.4638]],

        [[0.5103, 0.5114, 0.5064,  ..., 0.2051, 0.2011, 0.1739],
         [0.5120, 0.5103, 0.5068,  ..., 0.1928, 0.1960, 0.1807],
         [0.5073, 0.5025, 0.5085,  ..., 0.1997, 0.1795, 0.1785],
         ...,
         [0.3319, 0.2991, 0.2539,  ..., 0.4413, 0.3736, 0.3448],
         [0.2822, 0.2692, 0.2704,  ..., 0.4152, 0.2767, 0.4750],
         [0.2998, 0.2472, 0.2049,  ..., 0.3011, 0.4369, 0.5125]],

        [[0.3204, 0.3255, 0.3220,  ..., 0.2118, 0.2225, 0.2201],
         [0.3215, 0.3258, 0.3254,  ..., 0.2085, 0.2271, 0.2240],
         [0.3191, 0.3143, 0.3250,  ..., 0.2255, 0.2093, 0.2255],
         ...,
         [0.2801, 0.2602, 0.2311,  ..., 0.3460, 0.2702, 0.2180],
         [0.2449, 0.2494, 0.2515,  ..., 0.3564, 0.1850, 0.3082],
         [0.2621, 0.2495, 0.2134,  ..., 0.2773, 0.3231, 0.3629]]])
targets {'y': tensor([[ 17.5000,   0.0000,  47.6875,  26.6875],
        [ 44.6250,   0.0000,  63.0000,  17.9375],
        [ 60.8125,   0.0000,  76.5625,  14.8750],
        ...,
        [ 71.3125, 232.7500,  87.0625, 242.3750],
        [ 60.8125, 418.6875,  69.5625, 432.6875],
        [ 55.5625, 419.1250,  64.7500, 426.1250]]), 'labels': tensor([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])}

/home/alant/myglobal/lib/python3.12/site-packages/milliontrees/datasets/milliontrees_dataset.py:45: UserWarning: To copy construct from a tensor, it is recommended to use sourceTensor.detach().clone() or sourceTensor.detach().clone().requires_grad_(True), rather than torch.tensor(sourceTensor).
  metadata = torch.tensor(self.metadata_array[idx])

In [10]:
import pandas as pd

splitBoxes = pd.read_csv("data/TreeBoxes_v0.10/random.csv") 
splitPoints = pd.read_csv("data/TreePoints_v0.10/random.csv")
splitPolygons = pd.read_csv("data/TreePolygons_v0.10/random.csv")

In [5]:
splitBoxes

,filename,xmin,ymin,xmax,ymax,geometry,label,source,Unnamed: 0,existing_split,...,tile_name,metadata,treeID,Z,complete,basename,remove,image_path,annotator,split
0,5032-6-6.png,40.000000,0.000000,109.000000,61.000000,"POLYGON ((109 0, 109 61, 40 61, 40 0, 109 0))",Tree,Sun et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,True,5032-6-6.png,NaN,NaN,NaN,train
1,5032-6-6.png,102.000000,0.000000,144.000000,41.000000,"POLYGON ((144 0, 144 41, 102 41, 102 0, 144 0))",Tree,Sun et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,True,5032-6-6.png,NaN,NaN,NaN,train
2,5032-6-6.png,139.000000,0.000000,175.000000,34.000000,"POLYGON ((175 0, 175 34, 139 34, 139 0, 175 0))",Tree,Sun et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,True,5032-6-6.png,NaN,NaN,NaN,train
3,5032-6-6.png,171.000000,0.000000,201.000000,25.000000,"POLYGON ((201 0, 201 25, 171 25, 171 0, 201 0))",Tree,Sun et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,True,5032-6-6.png,NaN,NaN,NaN,train
4,5032-6-6.png,168.000000,22.000000,208.000000,51.000000,"POLYGON ((208 22, 208 51, 168 51, 168 22, 208 ...",Tree,Sun et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,True,5032-6-6.png,NaN,NaN,NaN,train
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5248,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,2849.285022,3505.300103,3001.996729,3799.969172,"POLYGON ((3001.996729 3505.300103, 3001.996729...",tree,Reiersen et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,"sanacleto@ufl.edu, 24",train
5249,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,3088.031494,3509.601841,3204.178426,3642.955726,"POLYGON ((3204.178426 3509.601841, 3204.178426...",tree,Reiersen et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,"sanacleto@ufl.edu, 24",train
5250,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,3475.187935,3834.383078,3638.653988,3987.094785,"POLYGON ((3638.653988 3834.383078, 3638.653988...",tree,Reiersen et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,"sanacleto@ufl.edu, 24",train
5251,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,3683.822240,3832.232209,3920.417843,3997.849131,"POLYGON ((3920.417843 3832.232209, 3920.417843...",tree,Reiersen et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,"sanacleto@ufl.edu, 24",train
5252,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,3571.977045,3483.791412,3853.740900,3774.158743,"POLYGON ((3853.7409 3483.791412, 3853.7409 377...",tree,Reiersen et al. 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png,"sanacleto@ufl.edu, 24",train

In [6]:
splitBoxes["filename"].unique()

<ArrowStringArray>
[                                                          '5032-6-6.png',
                                                      'NIWO_002_2018.tif',
                                                        'Pfinztal_10.png',
                                'tile_58_87_lat_50.89147_lon_4.69642.png',
                                                          'train_824.png',
 '20231208_asforestnorthe2_m3m_rgb_tile_valid_1777_gr0p045_7992_1776.png',
                           '2019_BLAN_3_762000_4326000_image_tile_55.jpg',
                                                     '000030_ortho_8.png',
                                                           'B09_0098.JPG',
                      'Carlos Vera Guevara RGB_5_3800_3800_7800_7800.png']
Length: 10, dtype: str

In [7]:
splitBoxes.columns

Index(['filename', 'xmin', 'ymin', 'xmax', 'ymax', 'geometry', 'label',
       'source', 'Unnamed: 0', 'existing_split', 'individual', 'classifica',
       'user_name', 'created_at', 'subject_id', 'image_name', 'siteID',
       'plotID', 'year', 'image_utm_', 'image_ut_1', 'image_ut_2',
       'image_ut_3', 'resolution', 'crs', 'Dead', 'box_utm_le', 'box_utm_bo',
       'box_utm_ri', 'box_utm_to', 'dummy', 'crown_id', 'id', 'width',
       'height', 'confidence_mean', 'confidence_std', 'tile_name', 'metadata',
       'treeID', 'Z', 'complete', 'basename', 'remove', 'image_path',
       'annotator', 'split'],
      dtype='str')

In [15]:
splitBoxes["classifica"].unique()

array([nan])

In [8]:
splitBoxes["split"].unique()

<ArrowStringArray>
['train', 'test']
Length: 2, dtype: str

In [11]:
splitPoints

,Unnamed: 0,x,y,label,source,filename,existing_split,geometry,split,score,genus,taxonomy_id,city,treeID,Z,complete,basename,remove,image_path,annotator
0,0.0,5.0,20.0,Tree,Ventura et al. 2022,eureka_2020_20.tif,NaN,POINT (5 20),train,NaN,NaN,NaN,NaN,NaN,NaN,True,eureka_2020_20.tif,NaN,NaN,NaN
1,1.0,38.0,24.0,Tree,Ventura et al. 2022,eureka_2020_20.tif,NaN,POINT (38 24),train,NaN,NaN,NaN,NaN,NaN,NaN,True,eureka_2020_20.tif,NaN,NaN,NaN
2,2.0,32.0,12.0,Tree,Ventura et al. 2022,eureka_2020_20.tif,NaN,POINT (32 12),train,NaN,NaN,NaN,NaN,NaN,NaN,True,eureka_2020_20.tif,NaN,NaN,NaN
3,3.0,35.0,32.0,Tree,Ventura et al. 2022,eureka_2020_20.tif,NaN,POINT (35 32),train,NaN,NaN,NaN,NaN,NaN,NaN,True,eureka_2020_20.tif,NaN,NaN,NaN
4,4.0,48.0,30.0,Tree,Ventura et al. 2022,eureka_2020_20.tif,NaN,POINT (48 30),train,NaN,NaN,NaN,NaN,NaN,NaN,True,eureka_2020_20.tif,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2613,NaN,725.0,708.0,tree,Amirkolaee et al. 2023,IMG_678.jpg,NaN,POINT (725 708),train,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMG_678.jpg,"sanacleto@ufl.edu, 24"
2614,NaN,656.0,772.0,tree,Amirkolaee et al. 2023,IMG_678.jpg,NaN,POINT (656 772),train,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMG_678.jpg,"sanacleto@ufl.edu, 24"
2615,NaN,861.0,786.0,tree,Amirkolaee et al. 2023,IMG_678.jpg,NaN,POINT (861 786),train,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMG_678.jpg,"sanacleto@ufl.edu, 24"
2616,NaN,785.0,824.0,tree,Amirkolaee et al. 2023,IMG_678.jpg,NaN,POINT (785 824),train,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMG_678.jpg,"sanacleto@ufl.edu, 24"
2617,NaN,759.0,916.0,tree,Amirkolaee et al. 2023,IMG_678.jpg,NaN,POINT (759 916),train,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IMG_678.jpg,"sanacleto@ufl.edu, 24"

In [12]:
splitPolygons

,Unnamed: 0,pixelvalue,Class,Field,Shape_Leng,Shape_Area,NEWSPECIES,OneClass,Code,geometry,...,id,id_2,scientific,class_code,taxon_id,Urban_Class_ID,Urban_Class,Street_ID,complete,polygon
0,237.0,0.0,AM,0.0,6.988297,2.785392,NaN,tree,ACMIM,"POLYGON ((326.610526 509.021053, 327.831579 56...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,"POLYGON ((326.610526 509.021053, 327.831579 56..."
1,238.0,0.0,AM,0.0,6.307216,2.243685,NaN,tree,ACMIM,"POLYGON ((477.178947 518.810526, 535.936842 59...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,"POLYGON ((477.178947 518.810526, 535.936842 59..."
2,209.0,0.0,AM,0.0,3.945989,1.099880,NaN,tree,ACMIM,"POLYGON ((743.963158 567.026316, 724.310526 55...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,"POLYGON ((743.963158 567.026316, 724.310526 55..."
3,210.0,0.0,AM,0.0,4.183740,1.082917,NaN,tree,ACMIM,"POLYGON ((823.273684 618.963158, 833.8 591.589...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,"POLYGON ((823.273684 618.963158, 833.8 591.589..."
4,235.0,0.0,AM,0.0,6.641302,1.917673,NaN,tree,ACMIM,"POLYGON ((307.021053 652.242105, 363.331579 67...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,"POLYGON ((307.021053 652.242105, 363.331579 67..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((70.3361 850.342858, 65.79303 850.496...",...,NaN,NaN,NaN,NaN,NaN,1.0,Park,NaN,True,"POLYGON ((70.3361 850.342858, 65.79303 850.496..."
6130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((90.876171 917.391654, 99.500305 919....",...,NaN,NaN,NaN,NaN,NaN,1.0,Park,NaN,True,"POLYGON ((90.876171 917.391654, 99.500305 919...."
6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((292.085122 866.412046, 294.809039 86...",...,NaN,NaN,NaN,NaN,NaN,1.0,Park,NaN,True,"POLYGON ((292.085122 866.412046, 294.809039 86..."
6132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((237.45277 888.338138, 237.45277 893....",...,NaN,NaN,NaN,NaN,NaN,1.0,Park,NaN,True,"POLYGON ((237.45277 888.338138, 237.45277 893...."
6133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((280.602318 885.450593, 278.138279 88...",...,NaN,NaN,NaN,NaN,NaN,1.0,Park,NaN,True,"POLYGON ((280.602318 885.450593, 278.138279 88..."

In [13]:
splitPolygons["geometry"][0]

'POLYGON ((326.610526 509.021053, 327.831579 567.778947, 462.489474 560.431579, 412.3 491.884211, 360.884211 493.105263, 326.610526 509.021053))'

In [16]:
splitPolygons["polygon"][0]

'POLYGON ((326.610526 509.021053, 327.831579 567.778947, 462.489474 560.431579, 412.3 491.884211, 360.884211 493.105263, 326.610526 509.021053))'

In [ ]:
from milliontrees.common.data_loaders import get_eval_loader